go 1.21

use (
	.
	./cmd/blackhole
	./internal/services/identity
	./internal/services/storage
	./internal/services/ledger
	./internal/services/social
	./internal/services/analytics
	./internal/services/telemetry
	./internal/services/indexer
	./internal/services/wallet
	./pkg/api
	./pkg/sdk
)